<?xml version="1.0"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!--<proxies>
        <proxy>
               <id>proxy-prod</id>
               <port>3128</port>
               <host>proxy-prod-scl.svc.meshcore.net</host>
               <nonProxyHosts>127.0.0.1|localhost|*.priv.atos.fr|*.meshcore.net
               </nonProxyHosts>
           </proxy>
    </proxies>-->

    <servers>

            <server>
                <id>releases</id>
                <username>bongo-01</username>
                <password>{7hhZUig5mJQHELosaIy7GYM1eZ2Lr0lkwFkBiN32/5x3+4hMx4X4FWmLq2pR0QHl}</password>
                <configuration>
                    <!-- Optimize authentication time when downloading.
                    Find out more: http://maven.apache.org/guides/mini/guide-http-settings.html#Example:_Using_Preemptive_Authentication -->
                    <wagonProvider>httpclient</wagonProvider>
                    <httpConfiguration>
                        <all>
                            <usePreemptive>true</usePreemptive>
                        </all>
                    </httpConfiguration>
                </configuration>
            </server>
            <server>
                <id>snapshots</id>
                <username>bongo-01</username>
                <password>rBXmVy7XB5D2g8kJ</password>
                <configuration>
                    <wagonProvider>httpclient</wagonProvider>
                    <httpConfiguration>
                        <all>
                            <usePreemptive>true</usePreemptive>
                        </all>
                    </httpConfiguration>
                </configuration>
            </server>
            <server>
                <id>bongo-group</id>
                <username>bongo-01</username>
                <password>{7hhZUig5mJQHELosaIy7GYM1eZ2Lr0lkwFkBiN32/5x3+4hMx4X4FWmLq2pR0QHl}</password>
                <configuration>
                    <wagonProvider>httpclient</wagonProvider>
                    <httpConfiguration>
                        <all>
                            <usePreemptive>true</usePreemptive>
                        </all>
                    </httpConfiguration>
                </configuration>
            </server>
    </servers>

        <mirrors>
            <mirror>
                <mirrorOf>*</mirrorOf>
                <url>https://nexus.kazan.atosworldline.com/repository/bongo-group</url>
                <id>bongo-group</id>
            </mirror>
        </mirrors>

    <profiles>
        <profile>
            <repositories>
                <repository>
                    <!-- Find out more: https://help.sonatype.com/repomanager3/formats/maven-repositories -->
                    <id>central</id>
                    <url>http://central</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <!-- Find out more: https://help.sonatype.com/repomanager3/formats/maven-repositories -->
                    <id>central</id>
                    <url>http://central</url>
                </pluginRepository>
            </pluginRepositories>
            <id>kazan-nexus</id>
        </profile>
        <profile>
            <id>kazan-sonar</id>
            <properties>
                <sonar.host.url>https://kazan.priv.atos.fr:443/sonarqube</sonar.host.url>
                <sonar.login>{66j7Qs0lANUHv24yPvMPvrV4Ca3QQMl5L50nGBEwslrAMQl4kGgJKyeDOFax3tgev+3+7UoLLcIOQ3huwNpmkA&#61;&#61;}</sonar.login>
            </properties>
        </profile>
    </profiles>

        <activeProfiles>
            <activeProfile>kazan-nexus</activeProfile>
            <activeProfile>kazan-sonar</activeProfile>
        </activeProfiles>
</settings>
